<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <a href={% url 'landing' %}>HOME</a>
            </div>
            <div class="col-md-3 navbar-right">
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
                
            </form>
            </div>
        </div>
    </div>
</body>
</html>