<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <a href={% url 'landing' %}>HOME</a>
            </div>
            <div class="col-md-3 navbar-right">
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
                <input type="text" class="form-control" placeholder="Enter a category to search" name="image">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>