{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gallery</title>
    {% block styles %}
        {% bootstrap_css %}
    {% endblock %}
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <h1><a href={% url 'category' %}>Picha Zangu</a></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 navbar-right">
                    <form class="navbar-form" role="search" action="{% url 'search_results' %}">
                        <input type="text" class="form-control" placeholder="Enter a category to search" name="image">
                        <div class="input-group-btn">
                            <button class="btn btn-success col-md-12" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>
</html>